body {
	background-color: rgb(235, 235, 235);
}

li > label {
	color: white;
	background-color: green;
	border-radius: 50%;
	border: solid 1px black;
	margin-right: 15px;
}

/* TABLE */

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px grey solid;
	padding-left: 5px;
	padding-right: 5px;
}

tr:nth-child(even) {
	background-color: #b4deeb;
}
tr:nth-child(odd) {
	background-color: #ccebf5;
}

table th {
	background-color: rgb(94, 154, 209);
}

table th:first-child,
table th:last-child {
	border-radius: 10px;
}

/* FORM */

body > div {
	background-color: white;
	border: 1px solid black;
	position: relative;
	width: fit-content;
	padding: 10px;
	padding-right: 30px;
}

body > div > h5 {
	margin-top: -18px;
	margin-left: 10px;
	background-color: rgb(251, 248, 248);
	width: fit-content;
}

form > div *:first-child,
select > option {
	display: inline-block;
	min-width: 200px;
}

input[type="submit"] {
	color: white;
	position: absolute;
	left: 330px;
	bottom: -30px;
	background-color: green;
	border-radius: 10px;
	border-color: rgb(170, 170, 170);
}
